<h1>Display your Pirate here</h1>
Pirate's Name: <%= @pirate.name %>
Pirate's Weight: <%= @pirate.weight %>
Pirate's Height: <%= @pirate.height %>

<h2>Display your first ship here</h2>
First Ship's Name: <%= @ship.first_ship[:name] %>
First Ship's Type: <%= @ship.first_ship[:type] %>
First Ship's Booty: <%= @ship.first_ship[:booty] %>


<h2>Display your second ship here</h2>
Second Ship's Name: <%= @ship.second_ship[:name] %>
Second Ship's Type: <%= @ship.second_ship[:type] %>
Second Ship's Booty: <%= @ship.second_ship[:booty] %>